t-cheatsheets(title='Bases')
  p All the regular I verbs conjugate on the five bases of the nine rows of the following chart.

  o-table(cols=10)
    m-table-cell(h1)
    m-table-cell(h1) 1
    m-table-cell(h1) 2
    m-table-cell(h1) 3
    m-table-cell(h1) 4
    m-table-cell(h1) 5
    m-table-cell(h1) 6
    m-table-cell(h1) 7
    m-table-cell(h1) 8
    m-table-cell(h1) 9

    m-table-cell(h2) BASE
    m-table-cell(h2) #[a-ja か #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja が #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja さ #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja た #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja な #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ば #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ま #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ら #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja わ #[rt] 行 #[rt ぎょう]]

    m-table-cell(h2) 1st - A
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja が]
    m-table-cell #[a-ja さ]
    m-table-cell #[a-ja た]
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja か]

    m-table-cell(h2) 2st - I
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja ぎ]
    m-table-cell #[a-ja し]
    m-table-cell #[a-ja ち]
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja き]

    m-table-cell(h2) 3st - U
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja ぐ]
    m-table-cell #[a-ja す]
    m-table-cell #[a-ja つ]
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja く]

    m-table-cell(h2) 4st - E
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja げ]
    m-table-cell #[a-ja せ]
    m-table-cell #[a-ja て]
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja け]

    m-table-cell(h2) 5st - O
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja ご]
    m-table-cell #[a-ja そ]
    m-table-cell #[a-ja と]
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja こ]

  a-title(id='irrealis-form') Irrealis form



  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  a-title(id='continuative-form') Continuative form

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.