t-cheatsheets(title='Bases')
  p All the regular I verbs conjugate on the five bases of the nine rows of the following chart.

  table(style='display: block; width: 100%; text-align: center; overflow-x: auto' cellpadding="10px")
    tr #[th #[th 1] #[th 2] #[th 3] #[th 4] #[th 5] #[th 6] #[th 7] #[th 8] #[th 9]]
    tr
      th BASE
      th #[a-ja か #[rt] 行 #[rt ぎょう]]
      th #[a-ja が #[rt] 行 #[rt ぎょう]]
      th #[a-ja さ #[rt] 行 #[rt ぎょう]]
      th #[a-ja た #[rt] 行 #[rt ぎょう]]
      th #[a-ja な #[rt] 行 #[rt ぎょう]]
      th #[a-ja ば #[rt] 行 #[rt ぎょう]]
      th #[a-ja ま #[rt] 行 #[rt ぎょう]]
      th #[a-ja ら #[rt] 行 #[rt ぎょう]]
      th #[a-ja わ #[rt] 行 #[rt ぎょう]]
    tr
      th 1st - A
      td #[a-ja か]
      td #[a-ja が]
      td #[a-ja さ]
      td #[a-ja た]
      td #[a-ja か]
      td #[a-ja か]
      td #[a-ja か]
      td #[a-ja か]
      td #[a-ja か]
    tr
      th 2st - I
      td #[a-ja き]
      td #[a-ja ぎ]
      td #[a-ja し]
      td #[a-ja ち]
      td #[a-ja き]
      td #[a-ja き]
      td #[a-ja き]
      td #[a-ja き]
      td #[a-ja き]
    tr
      th 3st - U
      td #[a-ja く]
      td #[a-ja ぐ]
      td #[a-ja す]
      td #[a-ja つ]
      td #[a-ja く]
      td #[a-ja く]
      td #[a-ja く]
      td #[a-ja く]
      td #[a-ja く]
    tr
      th 4st - E
      td #[a-ja け]
      td #[a-ja げ]
      td #[a-ja せ]
      td #[a-ja て]
      td #[a-ja け]
      td #[a-ja け]
      td #[a-ja け]
      td #[a-ja け]
      td #[a-ja け]
    tr
      th 5st - O
      td #[a-ja こ]
      td #[a-ja ご]
      td #[a-ja そ]
      td #[a-ja と]
      td #[a-ja こ]
      td #[a-ja こ]
      td #[a-ja こ]
      td #[a-ja こ]
      td #[a-ja こ]

  a-title(id='irrealis-form') Irrealis form

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  a-title(id='continuative-form') Continuative form

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.