t-cheatsheets(title='Bases')
  p All the regular I verbs conjugate on the five bases of the nine rows of the following chart.

  a-table(cols=10)
    .t1
    .t1 1
    .t1 2
    .t1 3
    .t1 4
    .t1 5
    .t1 6
    .t1 7
    .t1 8
    .t1 9

    .t2 BASE
    .t2 #[a-ja か #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja が #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja さ #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja た #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja な #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja ば #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja ま #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja ら #[rt] 行 #[rt ぎょう]]
    .t2 #[a-ja わ #[rt] 行 #[rt ぎょう]]

    .t2 1st - A
    div #[a-ja か]
    div #[a-ja が]
    div #[a-ja さ]
    div #[a-ja た]
    div #[a-ja か]
    div #[a-ja か]
    div #[a-ja か]
    div #[a-ja か]
    div #[a-ja か]

    .t2 2st - I
    div #[a-ja き]
    div #[a-ja ぎ]
    div #[a-ja し]
    div #[a-ja ち]
    div #[a-ja き]
    div #[a-ja き]
    div #[a-ja き]
    div #[a-ja き]
    div #[a-ja き]

    .t2 3st - U
    div #[a-ja く]
    div #[a-ja ぐ]
    div #[a-ja す]
    div #[a-ja つ]
    div #[a-ja く]
    div #[a-ja く]
    div #[a-ja く]
    div #[a-ja く]
    div #[a-ja く]

    .t2 4st - E
    div #[a-ja け]
    div #[a-ja げ]
    div #[a-ja せ]
    div #[a-ja て]
    div #[a-ja け]
    div #[a-ja け]
    div #[a-ja け]
    div #[a-ja け]
    div #[a-ja け]

    .t2 5st - O
    div #[a-ja こ]
    div #[a-ja ご]
    div #[a-ja そ]
    div #[a-ja と]
    div #[a-ja こ]
    div #[a-ja こ]
    div #[a-ja こ]
    div #[a-ja こ]
    div #[a-ja こ]
  
  div Spacer

  a-table(cols=2)
    a-table(cols=3 rows=5)
      .span.t1 Plain

      div #[a-ja(u='to see') 見#[rt み]て]
      .t2 Non-past
      .t2 Past

      .t2 Positive
      div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
      div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

      .t2.cspan2 Negative
      .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') にあい]]
      .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') なかった]]
    a-table(cols=3 rows=5)
      .span.t1 Polite
      
      div #[a-ja(u='to see') 見#[rt み]て]
      .t2 Non-past
      .t2 Past

      .t2 Positive
      div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
      div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

      .t2.cspan2 Negative
      div #[a-ja 見#[a-span(style='color: #f7d83e') ません]]
      div #[a-ja 見#[a-span(style='color: #f7d83e') ませんでした]]
      div #[a-ja 見#[a-span(style='color: #f7d83e') ないです]]
      div #[a-ja 見#[a-span(style='color: #f7d83e') なかったです]]

  div Spacer

  a-table(cols=6)
    .span.t1.rspan3 Plain
    .span.t1.rspan3 Polite

    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past
    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]
    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') ます]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ました]]

    .t2.cspan2 Negative
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') にあい]]
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') なかった]]

    .t2.cspan2 Negative
    div #[a-ja 見#[a-span(style='color: #f7d83e') ません]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ませんでした]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ないです]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') なかったです]]

  div Spacer

  a-table(cols=3 rows=5)
    .span.t1 Plain

    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

    .t2.cspan2 Negative
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') にあい]]
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') なかった]]

  a-table(cols=3 rows=5)
    .span.t1 Polite
    
    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

    .t2.cspan2 Negative
    div #[a-ja 見#[a-span(style='color: #f7d83e') ません]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ませんでした]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ないです]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') なかったです]]

  div Spacer

  a-table(cols=3 rows=5)
    .span.t1 Plain

    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

    .t2.cspan2 Negative
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') にあい]]
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') なかった]]

  div Best choice

  a-table(cols=3)
    .span.t1 Plain

    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

    .t2.cspan2 Negative
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') にあい]]
    .cspan2 #[a-ja 見#[a-span(style='color: #f7d83e') なかった]]

    .span.t1 Polite
    
    div #[a-ja(u='to see') 見#[rt み]て]
    .t2 Non-past
    .t2 Past

    .t2 Positive
    div #[a-ja 見#[a-span(style='color: #f7d83e') る]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') た]]

    .t2.cspan2 Negative
    div #[a-ja 見#[a-span(style='color: #f7d83e') ません]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ませんでした]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') ないです]]
    div #[a-ja 見#[a-span(style='color: #f7d83e') なかったです]]

  a-title(id='irrealis-form') Irrealis form



  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.

  a-title(id='continuative-form') Continuative form

  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem vel inventore tempore aliquam a quam totam delectus doloremque eaque provident fugit ratione harum consequatur illo, maiores ipsam, cupiditate modi dolores.