t-cheatsheets
  div bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] bases 
  #a-base A
  div bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases #[br] bases bases #[br] bases #[br] bases bases #[br] bases #[br] 
  #b-base B