t-cheatsheets(header='Classifying into <ruby class="h4">る</ruby> and <ruby class="h4">う</ruby> verbs')
  p Verb #[b ends] in #[ruby る]:
  ul
    li #[ruby ～ある], #[ruby ～うる], #[ruby ～おる] —> #[b #[ruby う] - verb].
    li #[ruby ～いる], #[ruby ～える] —> #[b #[ruby る] - verb in most cases (there are exceptions)]. 
  p Verb #[b doesn't end] in #[ruby る] —> #[b #[ruby う] - verb].

  a-container(example)
    p
      ruby
        ruby.under
          ruby 見#[rt み]る
          rt see
      |
      | ends in #[ruby.hl いる] and not an exception —> #[b #[ruby.hl る] - verb].
    p
      ruby
        ruby.under
          ruby 分#[rt わ]かる
          rt understand
      |
      | ends in #[ruby.hl ある] —> #[b #[ruby.hl う] - verb].
    p
      ruby
        ruby.under
          ruby 話#[rt はな]す
          rt speak
      |
      | ends not in #[ruby.hl る] —> #[b #[ruby.hl う] - verb].
  
  m-title(id='list-of-common-exception' level=1) A list of common exceptions of #[ruby いる/える] verbs that are #[ruby う] - verbs sorted by level

  a-fitter
    o-table(cols=6)
      m-table-cell(h1 cspan=2) Basic
      m-table-cell(h1 cspan=2) Advanced
      m-table-cell(h1 cspan=2) Intermediate

      m-table-cell #[ruby.under #[ruby.hl 要#[rt.no-hl い]る]#[rt to need]]
      m-table-cell #[ruby.under #[ruby.hl 帰#[rt かえ]る]#[rt to go home]]
      m-table-cell #[ruby.under #[ruby.hl 焦#[rt あせ]る]#[rt to be in a hurry]]
      m-table-cell #[ruby.under #[ruby.hl 限#[rt かぎ]る]#[rt to limit]]
      m-table-cell #[ruby.under #[ruby.hl 嘲#[rt あざけ]る]#[rt to ridicule]]
      m-table-cell #[ruby.under #[ruby.hl 覆#[rt くつがえ]る]#[rt to overturn]]


      m-table-cell #[ruby.under #[ruby.hl 切#[rt き]る]#[rt to cut]]
      m-table-cell #[ruby.under #[ruby.hl しゃべ#[rt ]る]#[rt to talk]]
      m-table-cell #[ruby.under #[ruby.hl 蹴#[rt け]る]#[rt to kick]]
      m-table-cell #[ruby.under #[ruby.hl 滑#[rt すべ]る]#[rt to be slippery]]
      m-table-cell #[ruby.under #[ruby.hl 遮#[rt さえぎ]る]#[rt to interrupt]]
      m-table-cell #[ruby.under #[ruby.hl 罵#[rt ののし]る]#[rt to abuse verbally]]

      m-table-cell #[ruby.under #[ruby.hl 知#[rt し]る]#[rt to know]]
      m-table-cell #[ruby.under #[ruby.hl 入#[rt はい]る]#[rt to enter]]
      m-table-cell #[ruby.under #[ruby.hl 握#[rt にぎ]る]#[rt to grasp]]
      m-table-cell #[ruby.under #[ruby.hl 練#[rt ね]る]#[rt to knead]]
      m-table-cell #[ruby.under #[ruby.hl 捻#[rt ひね]る]#[rt to twist]]
      m-table-cell #[ruby.under #[ruby.hl 翻#[rt ひるがえ]る]#[rt to turn over#[rt to wave]]]
      

      m-table-cell #[ruby.under #[ruby.hl 走#[rt はし]る]#[rt to run]]
      m-table-cell #[ruby.under #[ruby.hl 減#[rt へ]る]#[rt to decrease]]
      m-table-cell #[ruby.under #[ruby.hl 参#[rt まい]る]#[rt to go#[rt to come]]]
      m-table-cell #[ruby.under #[ruby.hl 交#[rt ま]じる]#[rt to mingle]]
      m-table-cell #[ruby.under #[ruby.hl 滅入#[rt めい]る]#[rt to feel depressed]]
      m-table-cell #[ruby.under #[ruby.hl 蘇#[rt よみがえ]る]#[rt to be resurrected]]

    o-table(cols=4)
      m-table-cell(h1 cspan=4) Basic

      m-table-cell #[ruby.under #[ruby.hl 要#[rt い]る]#[rt to need]]
      m-table-cell #[ruby.under #[ruby.hl 帰#[rt かえ]る]#[rt to go home]]
      m-table-cell #[ruby.under #[ruby.hl 切#[rt き]る]#[rt to cut]]
      m-table-cell #[ruby.under #[ruby.hl しゃべ#[rt ]る]#[rt to talk]]
      m-table-cell #[ruby.under #[ruby.hl 知#[rt し]る]#[rt to know]]
      m-table-cell #[ruby.under #[ruby.hl 入#[rt はい]る]#[rt to enter]]
      m-table-cell #[ruby.under #[ruby.hl 走#[rt はし]る]#[rt to run]]
      m-table-cell #[ruby.under #[ruby.hl 減#[rt へ]る]#[rt to decrease]]

      m-table-cell(h1 cspan=4) Advanced
      m-table-cell #[ruby.under #[ruby.hl 焦#[rt あせ]る]#[rt to be in a hurry]]
      m-table-cell #[ruby.under #[ruby.hl 限#[rt かぎ]る]#[rt to limit]]
      m-table-cell #[ruby.under #[ruby.hl 蹴#[rt け]る]#[rt to kick]]
      m-table-cell #[ruby.under #[ruby.hl 滑#[rt すべ]る]#[rt to be slippery]]
      m-table-cell #[ruby.under #[ruby.hl 握#[rt にぎ]る]#[rt to grasp]]
      m-table-cell #[ruby.under #[ruby.hl 練#[rt ね]る]#[rt to knead]]
      m-table-cell #[ruby.under #[ruby.hl 参#[rt まい]る]#[rt to go#[rt to come]]]
      m-table-cell #[ruby.under #[ruby.hl 交#[rt ま]じる]#[rt to mingle]]

      m-table-cell(h1 cspan=4) Intermediate
      m-table-cell #[ruby.under #[ruby.hl 嘲#[rt あざけ]る]#[rt to ridicule]]
      m-table-cell #[ruby.under #[ruby.hl 覆#[rt くつがえ]る]#[rt to overturn]]
      m-table-cell #[ruby.under #[ruby.hl 遮#[rt さえぎ]る]#[rt to interrupt]]
      m-table-cell #[ruby.under #[ruby.hl 罵#[rt ののし]る]#[rt to abuse verbally]]
      m-table-cell #[ruby.under #[ruby.hl 捻#[rt ひね]る]#[rt to twist]]
      m-table-cell #[ruby.under #[ruby.hl 翻#[rt ひるがえ]る]#[rt to turn over#[rt to wave]]]
      m-table-cell #[ruby.under #[ruby.hl 滅入#[rt めい]る]#[rt to feel depressed]]
      m-table-cell #[ruby.under #[ruby.hl 蘇#[rt よみがえ]る]#[rt to be resurrected]]
