t-cheatsheets(header='<ruby class="h4">一<rt>いち</rt>段<rt>だん</rt></ruby>「る- verbs」')
  a-fitter
    o-table(cols=5)
      m-table-cell(rspan=2) #[a-ja(u='to see') 見#[rt み]て]
      m-table-cell(cspan=2 h1) Plain
      m-table-cell(cspan=2 h1) Polite

      m-table-cell(h2) Non-past
      m-table-cell(h2) Past
      m-table-cell(h2) Non-past
      m-table-cell(h2) Past

      m-table-cell(h2) Positive
      m-table-cell #[a-ja 見#[a-span(accent-color) る]]
      m-table-cell #[a-ja 見#[a-span(accent-color) た]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ます]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ました]]

      m-table-cell(rspan=2 h2) Negative
      m-table-cell(rspan=2) #[a-ja 見#[a-span(accent-color) ない]]
      m-table-cell(rspan=2) #[a-ja 見#[a-span(accent-color) なかった]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ません]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ませんでした]]
      
      m-table-cell #[a-ja 見#[a-span(accent-color) ないです]]
      m-table-cell #[a-ja 見#[a-span(accent-color) なかったです]]

    o-table(cols=3)
      m-table-cell(rspan h1) Plain

      m-table-cell #[a-ja(u='to see') 見#[rt み]て]
      m-table-cell(h2) Non-past
      m-table-cell(h2) Past

      m-table-cell(h2) Positive
      m-table-cell #[a-ja 見#[a-span(accent-color) る]]
      m-table-cell #[a-ja 見#[a-span(accent-color) た]]

      m-table-cell(rspan=2 h2) Negative
      m-table-cell(rspan=2) #[a-ja 見#[a-span(accent-color) ない]]
      m-table-cell(rspan=2) #[a-ja 見#[a-span(accent-color) なかった]]

      // ---

      m-table-cell(rspan h1) Polite
      
      m-table-cell #[a-ja(u='to see') 見#[rt み]て]
      m-table-cell(h2) Non-past
      m-table-cell(h2) Past

      m-table-cell(h2) Positive
      m-table-cell #[a-ja 見#[a-span(accent-color) ます]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ました]]

      m-table-cell(rspan=2 h2) Negative
      m-table-cell #[a-ja 見#[a-span(accent-color) ません]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ませんでした]]
      m-table-cell #[a-ja 見#[a-span(accent-color) ないです]]
      m-table-cell #[a-ja 見#[a-span(accent-color) なかったです]]