@import tools/mixins


:host
  @include ja-font(body)
  width: max-content

  ruby
    width: max-content
  
  ruby#under
    ruby-position: under
    text-transform: lowercase
  
  ruby#over
    ruby-position: over

:host([start])
  ruby
    ruby-align: start
