@import tools/mixins


:host
  @include ja-font(body)
  width: max-content

  ruby
    width: max-content
  
  ruby#under
    ruby-position: under
    text-transform: lowercase
  
  ruby#over
    ruby-position: over

:host([start])
  ruby#under
    ruby-align: start

:host([h1])
  @include ja-font(h1)

:host([h2])
  @include ja-font(h2)

:host([h3])
  @include ja-font(h3)

:host([h4])
  @include ja-font(h4)

:host([h5])
  @include ja-font(h5)

:host([h6])
  @include ja-font(h6)
