page.home #[ruby ホーム #[rt home]]
fold.cheatsheets #[ruby #[ruby 表#[rt ひょう]か] #[rt cheatsheets]]
  fold.verbs #[ruby #[ruby 動#[rt どう]詞#[rt し]] #[rt verbs]]
    page.classifying-into-ru-and-u Classifying into #[ruby る] and #[ruby う] verbs
    page.ru-verbs #[ruby #[ruby 一#[rt いち]段#[rt だん]] #[rt ru-verbs]]
    fold.u-verbs #[ruby #[ruby 五#[rt ご]段#[rt だん]] #[rt u-verbs]]
      page.bases #[ruby #[ruby 活#[rt かつ]用#[rt よう]形#[rt けい]] #[rt bases]]
    page.irregular-verbs Irregular verbs
  fold.adjectives #[ruby #[ruby 形#[rt けい]容#[rt よう]詞#[rt し]] #[rt adjectives]]
page.contribute #[ruby #[ruby 貢献#[rt こうけん]する] #[rt contribute]]
page.about #[ruby ついて #[rt about]]
