#list
  m-nav-item(to='home') #[a-ja(u='home' start) ホーム]
  m-nav-item #[a-ja(u='cheatsheets' start) 表#[rt ひょう]か]
    m-nav-item #[a-ja(u='verbs' start) 動#[rt どう]詞#[rt し]]
      m-nav-item(to='cheatsheets/verbs/classifying-into-ru-and-u') #[span Classifying into #[ruby る] and #[ruby う] verbs]
      m-nav-item(to='cheatsheets/verbs/ru-verbs') #[a-ja(u='ru-verbs' start) 一#[rt いち]段#[rt だん]]
      m-nav-item #[a-ja(u='u-verbs' start) 五#[rt ご]段#[rt だん]]
        m-nav-item(to='cheatsheets/verbs/u-verbs/bases') #[a-ja(u='bases' start) 活#[rt かつ]用#[rt よう]形#[rt けい]]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#functions-of-bases' anchor=1) #[div Functions of bases]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#negative-base' anchor=2) #[span 1.Negative base]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#conjunctive-base' anchor=2) #[span 2. Conjunctive base]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#dictionary-base' anchor=2) #[span 3. Dictionary base]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#conditional-imperative-base' anchor=2) #[span 4. Conditional or imperative base]
          m-nav-item(to='cheatsheets/verbs/u-verbs/bases#volitional-base' anchor=2) #[span 5. Volitional base]
      m-nav-item(to='cheatsheets/verbs/irregular-verbs') #[span Irregular verbs]
    m-nav-item #[a-ja(u='adjectives') 形#[rt けい]容#[rt よう]詞#[rt し]]
  m-nav-item(to='contribute') #[a-ja(u='contribute' start) 貢献#[rt こうけん]する]
  m-nav-item(to='about') #[a-ja(u='about' start) ついて]
