//- Better for handwriting
  div
    a-link(to='home') #[a-ja(u='home' o=' ') ホーム]
    a-link #[a-ja(u='cheatsheets') #[a-ja(o='ひょう') 表]か]
      a-link #[a-ja(u='verbs' o='') ？]
        a-link(to='cheatsheets/verbs/bases') #[a-ja(u='bases' o='') ？]
          a-link(to='cheatsheets/verbs/bases/#a-base') #[a-ja(u='a base' o='') ？]
          a-link(to='cheatsheets/verbs/bases/#b-base') #[a-ja(u='b base' o='') ？]
      a-link #[a-ja(u='adjectives' o='') ？]
    a-link(url='contribute') #[a-ja(u='contribute') #[a-ja(o='こうけん') 貢献]する]
    a-link(to='about') #[a-ja(u='about' o=' ') ついて]

ul
  li #[a-link(to='home') #[a-ja(u='home') ホーム]]
  li #[a-link #[a-ja(u='cheatsheets') 表#[rt ひょう]か]]
    ul
      li #[a-link #[a-ja(u='verbs') ？]]
        ul
          li #[a-link(to='cheatsheets/verbs/bases') #[a-ja(u='bases') ？]]
            ul
              li #[a-link(to='cheatsheets/verbs/bases#a-base') #[a-ja(u='a base') ？]]
              li #[a-link(to='cheatsheets/verbs/bases#b-base') #[a-ja(u='b base') ？]]
      li #[a-link #[a-ja(u='adjectives') ？]]
  li #[a-link(url='contribute') #[a-ja(u='contribute') 貢献#[rt こうけん]する]]
  li #[a-link(to='about') #[a-ja(u='about') ついて]]
