nav
  .page
    .title #[a-link(to='home' block) #[ruby.under ホーム #[rt home]]]
  .fold
    .title #[a-link(to='cheatsheets' block) #[ruby.under #[ruby 表#[rt ひょう]か]#[rt cheatsheets]]]
    .accordeon
      .page
        .title #[a-link(to='home' block) #[ruby.under ホーム #[rt home]]]
      .page
        .title #[a-link(to='home' block) #[ruby.under ホーム #[rt home]]]
      .page
        .title #[a-link(to='home' block) #[ruby.under ホーム #[rt home]]]
      .fold
        .title #[a-link(to='cheatsheets' block) #[ruby.under #[ruby 表#[rt ひょう]か]#[rt adjectives]]]
