#list
  m-nav-item(to='home') #[a-ja(u='home' start) ホーム]
  m-nav-item #[a-ja(u='cheatsheets' start) 表#[rt ひょう]か]
    m-nav-item #[a-ja(u='verbs' start) 動#[rt どう]詞#[rt し]]
      m-nav-item(to='cheatsheets/verbs/bases') #[a-ja(u='bases' start) 活#[rt かつ]用#[rt よう]形#[rt けい]]
        m-nav-item(to='cheatsheets/verbs/bases#irrealis-form' anchor) # #[a-ja(u='irrealis form' start) 未#[rt み]然#[rt ぜん]形#[rt けい]]
        m-nav-item(to='cheatsheets/verbs/bases#continuative-form' anchor) # #[a-ja(u='continuative form' start) 連#[rt れん]用#[rt よう]形#[rt けい]]
      m-nav-item(to='cheatsheets/verbs/ru-verbs') #[a-ja(u='ru-verbs' start) 一#[rt いち]段#[rt だん]]
      m-nav-item(to='cheatsheets/verbs/u-verbs') #[a-ja(u='u-verbs' start) 五#[rt ご]段#[rt だん]]
    m-nav-item #[a-ja(u='adjectives') 形#[rt けい]容#[rt よう]詞#[rt し]]
  m-nav-item(to='contribute') #[a-ja(u='contribute' start) 貢献#[rt こうけん]する]
  m-nav-item(to='about') #[a-ja(u='about' start) ついて]
