html[data-theme="light"]
  // Basic colors - 60 30 10 % of content
  --primary-color: #212121
  --sub-primary-color: #fff
  --accent-color: #3bf7de

  // Semantic colors
  --success-color: #cbf752
  --error-color: #ff575f
  --warning-color: #f7d83e
  --information-color: #5762ff

  // Neutral colors
  --text-color: #212121
  --background-color: #fff
  --container-text-color:  #212121
  --container-border-color: #212121
  --system-icon-color: #212121
