html[data-theme="light"]
  // Basic colors - 60 30 10 % of content
  --primary-color: #212121
  --sub-primary-color: #01796f
  --accent-color: #3bf7de
  --highlight-color: #f7d83e

  // Semantic colors
  --success-color: #cbf752
  --error-color: #ff575f
  --warning-color: #f7d83e
  --information-color: #3bf7de

  // Neutral colors
  --text-color: #212121
  --background-color: #fff
  --container-text-color:  #fff
  --container-background-color: #212121
  --icon-color: #212121

  // Tables
  --table-cell-background-color: #212121
  --table-cell-text-color: #fff
  --table-header1-background-color: #3bf7de
  --table-header1-text-color: #212121
  --table-header2-background-color: #f7d83e
  --table-header2-text-color: #212121
