// Typography
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+JP&display=swap')

$english-font-family: '游ゴシック', Arial, sans-serif
$english-font-size: 16px
$japanese-font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック" , "MS Gothic", "Noto Sans CJK JP", TakaoPGothic, sans-serif
$japanese-font-size: 18px

// Blocks
$content-padding: 4vw

// Media
$media-small: 576px
$media-medium: 768px
$media-large: 992px
$media-extra-large: 1200px
