@import themes/light-theme
@import themes/dark-theme


// Basic colors - 60 30 10 % of content
$primary-color: var(--primary-color)
$sub-primary-color: var(--sub-primary-color)
$accent-color: var(--accent-color)

// Semantic colors
$success-color: var(--success-color)
$error-color: var(--error-color)
$warning-color: var(--warning-color)
$information-color: var(--information-color)

// Neutral colors
$text-color: var(--text-color)
$background-color: var(--background-color)
$container-text-color: var(--container-text-color)
$container-background-color: var(--container-background-color)
$icon-color: var(--icon-color)

// Tables
$table-cell-background-color: var(--table-cell-background-color)
$table-cell-text-color: var(--table-cell-text-color)
$table-header1-background-color: var(--table-header1-background-color)
$table-header1-text-color: var(--table-header1-text-color)
$table-header2-background-color: var(--table-header2-background-color)
$table-header2-text-color: var(--table-header2-text-color)
