@import theme
@import globals


:host
  display: flex
  flex-direction: column
  box-sizing: border-box
  height: max-content

  header
    width: 100%
    height: max-content
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    padding: 0 8px
    box-sizing: border-box

    & > *
      margin: 5px 0

    o-nav
      flex-grow: 1
    
@media screen and (max-width: $media-large)
  header
    o-bar
      display: block
  
  header > *
    display: none

  :host([menu-open='true'])
    header > *
      display: flex
