@import theme
@import globals


:host
  display: flex
  flex-direction: column
  width: 20%
  height: 100vh

  overflow-y: scroll
  scrollbar-color: $accent-color $primary-color
  scrollbar-width: thin

  header
    width: 100%
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center

    padding: 0 8px
    box-sizing: border-box

    o-nav
      flex-grow: 1
