t-home(
  header = `Find grammar points, <a-span accent-color>faster</a-span>. Try below.`,
  info = 'Bunpou searches grammar through <a-span sub-primary-color>my personal cheatsheets</a-span>, <a-span sub-primary-color>Imabi</a-span> and <a-span sub-primary-color>Tae Kim\'s Guide</a-span>.<br>In plans to add support of <a-span sub-primary-color>Dictionary of Japanese Grammar</a-span>, <a-span sub-primary-color>Handbook of Japanese Grammar</a-span>, <a-span sub-primary-color><a-ja>どんなときどう使う 日本語表現文型辞典</a-ja></a-span> and even more!',
  exploreButton = 'Explore my cheatsheets'
)