html[data-theme="dark"]
  // Basic colors - 60 30 10 % of content
  --primary-color: #000
  --sub-primary-color: #000
  --accent-color: #000

  // Semantic colors
  --success-color: #000
  --error-color: #000
  --warning-color: #000
  --information-color: #000

  // Neutral colors
  --text-color: #000
  --container-text-color:  #000
  --container-border-color: #000
  --system-icon-color: #000
