@import globals
@import theme
@import tags
  

:host
  width: 100%
  max-width: $media-extra-large

  #wrapper
    display: flex
    flex-direction: column
    align-items: center
    width: 100%

    m-breadcrumbs
      width: 100%
      position: sticky
      left: 0
      top: 0

    #content
      display: flex
      width: 100%
      box-sizing: border-box
      flex-direction: column
      padding: 0 0 20px 0

      & > *
        margin: 10px 0
        padding: 0 $content-padding
        box-sizing: border-box

      & > a-container
        padding: 20px $content-padding
        width: 100%

      & > m-title
        margin: 40px 0 10px 0

      & > m-title:first-child
        margin: 20px 0 10px 0

      & > m-title + m-title
        margin-top: 0
      
      & > ul
        margin-left: 20px
      
      & > a-fitter
        overflow-x: auto

      #title
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        background-color: $container-background-color
        color: $container-text-color
        padding: calc(min(#{$content-padding}, 40px))
        margin: 20px 0
