t-cheatsheets(header='<a-ja>活<rt>かつ</rt>用<rt>よう</rt>形<rt>けい</rt></a-ja>　ー　Bases')
  p All the #[a-ja(u='u-verbs' start) 五#[rt ご]段#[rt だん]] conjugate on the five bases of the nine rows of the following chart.

  o-table(cols=10)
    m-table-cell(h1)
    m-table-cell(h1) 1
    m-table-cell(h1) 2
    m-table-cell(h1) 3
    m-table-cell(h1) 4
    m-table-cell(h1) 5
    m-table-cell(h1) 6
    m-table-cell(h1) 7
    m-table-cell(h1) 8
    m-table-cell(h1) 9

    m-table-cell(h2) BASE
    m-table-cell(h2) #[a-ja か #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja が #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja さ #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja た #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja な #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ば #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ま #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja ら #[rt] 行 #[rt ぎょう]]
    m-table-cell(h2) #[a-ja わ #[rt] 行 #[rt ぎょう]]

    m-table-cell(h2) 1st - A
    m-table-cell #[a-ja か]
    m-table-cell #[a-ja が]
    m-table-cell #[a-ja さ]
    m-table-cell #[a-ja た]
    m-table-cell #[a-ja な]
    m-table-cell #[a-ja ば]
    m-table-cell #[a-ja ま]
    m-table-cell #[a-ja ら]
    m-table-cell #[a-ja わ]

    m-table-cell(h2) 2st - I
    m-table-cell #[a-ja き]
    m-table-cell #[a-ja ぎ]
    m-table-cell #[a-ja し]
    m-table-cell #[a-ja ち]
    m-table-cell #[a-ja に]
    m-table-cell #[a-ja び]
    m-table-cell #[a-ja み]
    m-table-cell #[a-ja り]
    m-table-cell #[a-ja い]

    m-table-cell(h2) 3st - U
    m-table-cell #[a-ja く]
    m-table-cell #[a-ja ぐ]
    m-table-cell #[a-ja す]
    m-table-cell #[a-ja つ]
    m-table-cell #[a-ja ぬ]
    m-table-cell #[a-ja ぶ]
    m-table-cell #[a-ja む]
    m-table-cell #[a-ja る]
    m-table-cell #[a-ja う]

    m-table-cell(h2) 4st - E
    m-table-cell #[a-ja け]
    m-table-cell #[a-ja げ]
    m-table-cell #[a-ja せ]
    m-table-cell #[a-ja て]
    m-table-cell #[a-ja ね]
    m-table-cell #[a-ja べ]
    m-table-cell #[a-ja め]
    m-table-cell #[a-ja れ]
    m-table-cell #[a-ja え]

    m-table-cell(h2) 5st - O
    m-table-cell #[a-ja こ]
    m-table-cell #[a-ja ご]
    m-table-cell #[a-ja そ]
    m-table-cell #[a-ja と]
    m-table-cell #[a-ja の]
    m-table-cell #[a-ja ぼ]
    m-table-cell #[a-ja も]
    m-table-cell #[a-ja ろ]
    m-table-cell #[a-ja お]

  m-title(id='functions-of-bases' level=1) Functions of bases

  m-title(id='negative-base' level=2) 1. Negative base

  p The negative base is used in creating the plain negative form of a verb by adding #[ruby ない].
  a-container(example)
    ruby
      ruby.under
        ruby 手#[rt て]紙#[rt がみ]
        rt letter
      | お
      ruby.under.ac
        ruby.ac 書#[rt か]か#[span.hl う]
        rt #[span.hl do] write
    p I #[span.hl do] #[span.ac write] letters.
    ruby
      ruby.under
        ruby 手#[rt て]紙#[rt がみ]
        rt letter
      | お
      ruby.under.ac
        ruby.ac 書#[rt か]か#[span.hl ない]
        rt #[span.hl don't] write
    p I #[span.hl don't] #[span.ac write] letters.

  m-title(id='conjunctive-base' level=2) 2. Conjunctive base

  m-title(id='dictionary-base' level=2) 3. Dictionary base

  m-title(id='conditional-imperative-base' level=2) 4. Conditional/imperative base

  m-title(id='volitional-base' level=2) 5. Volitional base