@import theme
@import tags
  
  
:host
  a
    color: inherit
    user-select: none

  a:link,
  a:visited,
  a:hover,
  a:active
    text-decoration: none
  
  a:hover,
  a:active
    color: $accent-color
    cursor: pointer


:host([no-hl])
  a:hover,
  a:active
    color: inherit
  
:host([block])
  width: 100%
  height: 100%
  display: block
  box-sizing: border-box

  a
    display: block
    width: 100%
    height: 100%
  
  a:hover,
  a:active
    color: inherit

:host([center])
  a
    display: flex
    justify-content: center
    align-items: center

:host([vcenter])
  a
    display: flex
    align-items: center
