doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bunpou
  body
    a-view(default='home')
    a-btn(nav='home') Go Home
    a-btn(nav='faq') Go FAQ
    a-btn(nav='test') Go test
    a-btn(nav='test-2') Go test 2
