doctype html
html(lang='en' data-theme="light")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bunpou
  body
    a-view(default='home')
    a-btn(nav='home') Home
    a-btn(nav='faq') FAQ
    a-btn(nav='test') Test
    a-btn(nav='verbs/bases') Verbs - Bases
    div は, unlike が, is not a case particle.
    div test 
    div(style="font-family: 'Noto Sans JP'") テスト。てすと
    div テスト。てすと
    div(style="font-family: 'Noto Sans JP'") ちろこここ手譜ねきつてむまほぬおえけさそっむ露以素魔く鵜以模サナムエュ素雲ふ鵜手野鵜個つんめえ保舳都ゆゃ列擢都二露手こ日根っうな、留魔魔こ阿氏モャレキあるれゆよめかひゆすゅタエヘそほひ、かたこゅきよもよおおふつークさくて。
    div(style="font-weight: bold") ちろこここ手譜ねきつてむまほぬおえけさそっむ露以素魔く鵜以模サナムエュ素雲ふ鵜手野鵜個つんめえ保舳都ゆゃ列擢都二露手こ日根っうな、留魔魔こ阿氏モャレキあるれゆよめかひゆすゅタエヘそほひ、かたこゅきよもよおおふつークさくて。
    div が marks the subject — person/thing that performs an action (with verbs) or is what exhibits a certain state (with adjectives/adjectival nouns). By doing so, it is implied that the listener(s) are receiving new information, potentially even the speaker. Contrary to generic statements, it is the objective voice needed in making neutral statements as well as answering questions with the information the asker seeks
    div All human beings 
