doctype html
html(lang='en' data-theme="light")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Bunpou
  body
    a-view(default='home')
    a-btn(nav='home') Home
    a-btn(nav='faq') FAQ
    a-btn(nav='test') Test
    a-btn(nav='verbs/bases') Verbs - Bases
    div #[a-ja か] does not attach to #[a-ja だ] like it does with #[a-ja です]. The only time this is acceptable is when か is used to make subordinate clauses. Therefore, だか is wrong and must be changed to either か or dropped entirely. This means it will always attach straight to nouns and adjectival nouns without the copula intervening
    div Just add #[a-ja か] to the end and you're done
