@import theme
  
:host
  display: flex
  justify-content: center
  align-content: center
  color: $text-color
  padding: 10px

  div
    display: flex
    justify-content: center
    align-items: center
    user-select: none
  
  div:hover,
  div:active
    cursor: pointer
  