#search
  #bar
    a-icon#icon(search)
    input#input(type='text' placeholder='Start typing to search...')
  #results
    .result
      .source Imabi
      .title
        a-link Title
    .result
      .source Tae Kim
      .title
        a-link Title
    .result
      .source Bunpou
      .title
        a-link Title
    a-btn.show-all
      a-link Show all