#search
  #bar
    a-icon#icon(search)
    input#input(type='text' placeholder='Start typing to search...')
  #results
    #list
    .gcse-search
    a-btn(inner-padding solid)#show-all
      a-link(block center) Show all