#search
  #bar
    a-icon#icon(search)
    input#input(type='text' placeholder='Start typing to search...')
  #results
    #list
      .result
        .source
          a-link(block center) Imabi
        .title
          a-link(block vcenter) Title
      .result
        .source
          a-link(block center) Tae Kim
        .title
          a-link(block vcenter) Title
      .result
        .source
          a-link(block center) Bunpou
        .title
          a-link(block vcenter) Title
    a-btn(inner-padding solid)#show-all
      a-link(block center) Show all